<!DOCTYPE html>
<html>

<head>
    <title>CRMS - Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>
    <div class="banner">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo" class="logo">
        <h1 class="banner-text">Criminal Records Management System</h1>
    </div>

    <div class="records-container">
        <h2>All Criminal Records</h2>
        <div style="margin-bottom: 20px; display: flex; justify-content: center; gap: 10px;">
            <a href="{{ url_for('queries') }}">
                <button>Go To Queries Page</button>
            </a>
            <a href="{{ url_for('manage_records')}}">
                <button>Go To Manage Records Page</button>
            </a>
            <a href="{{ url_for('logout') }}">
                <button>Log Out</button>
            </a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Case Name</th>
                    <th>Description</th>
                    <th>Criminal Name</th>
                    <th>Status</th>
                    <th>Officer Name</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.case_name }}</td>
                    <td>{{ record.description }}</td>
                    <td>{{ record.criminal_name }}</td>
                    <td>{{ record.status }}</td>
                    <td>{{ record.officer_name }}</td>
                    <td>{{ record.crime_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>